/* PLAYBACK */

#satin-play-pause:selected, #satin-play {
	-fx-background-image: url(satin/play.png);
}

#satin-play-pause, #satin-pause {
	-fx-background-image: url(satin/pause.png);
}

#satin-stop {
	-fx-background-image: url(satin/splay.png);
}

#satin-skipback {
	-fx-background-image: url(satin/skipb.png);
}

#satin-skip {
	-fx-background-image: url(satin/skipf.png);
}

#satin-repeat {
	-fx-background-image: url(satin/ref.png);
}

/* OTHER */

#satin-up {
	-fx-background-image: url(satin/up.png);
}

#satin-down {
	-fx-background-image: url(satin/down.png);
}

#satin-like {
	-fx-background-image: url(satin/add.png);
}

#satin-dislike {
	-fx-background-image: url(satin/del.png);
}

#satin-save {
	-fx-background-image: url(satin/save.png);
}

#satin-back {
	-fx-background-image: url(satin/undo.png);
}

#satin-close {
	-fx-background-image: url(satin/close.png);
}

#satin-add {
	-fx-background-image: url(satin/add.png);
}

#satin-open {
	-fx-background-image: url(satin/open.png);
}